/*Buttons*/
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--secondary-font);
	cursor: pointer;
}

.header__buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
	padding: var(--size-24);
	flex-direction: column;
}

.button--primary {
	width: var(--size-160);
	height: var(--size-60);
	background-color: var(--accent-color);
	border: var(--size-4) solid var(--secondary-color);
	border-radius: var(--size-32);
	margin: var(--size-24);
	font-weight: var(--font-weight-600);
	font-size: var(--size-20);
	color: var(--primary-color);
	z-index: 2;
}

/*Scroll-Up Button*/
.scroll-up-button {
	border: none;
	background: none;
	grid-column: 6;
	grid-row: 4;
	align-self: center;
	justify-self: flex-end;
	margin-right: var(--size-24);
	margin-top: var(--size-32);
	margin-bottom: var(--size-40);
}

.icon--scrollup {
	color: var(--secondary-color);
}
