.top-bar-nav {
	display: none;
	width: 60%;
}

.top-bar-nav__list {
	display: flex;
	margin-left: 3rem;
}

.top-bar-nav__item {
	margin: 0 2rem;
}

@media screen and (min-width: 1024px) {
	.top-bar-nav {
		display: flex;
		width: 100%;
		justify-content: right;
	}

}
