@import url(root.css);
@import url(font.css);
@import url(./components/button.css);
@import url(./components/chapter.css);
@import url(./components/divider.css);
@import url(./components/decoration.css);
@import url(./components/footer.css);
@import url(./components/list.css);
@import url(./components/menu.css);
@import url(./components/header.css);
@import url(./components/topnav.css);
@import url(./components/slider.css);

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

::selection {
	color: var(--accent-color);
	background-color: var(--primary-color);
}

a {
	color: inherit;
}

/*Main Stylings*/
.wrapper {
	max-width: max-content;
	width: 100%;
	height: max-content;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	background-color: var(--background-color);
}

.icon {
	width: var(--size-60);
	height: var(--size-60);
}

/*MAIN*/
.main {
	grid-row: 3;
	grid-column: 1 / span 6;
	justify-items: stretch;
}

/*INPUT BUTTONS*/
input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}

/*Menu Toggle*/
.toggle {
	align-self: center;
	width: var(--size-60);
	height: var(--size-60);
	display: block;
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-position: center;
	-webkit-mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-image: var(--icon-burger);
	-webkit-mask-image: var(--icon-burger);
	background-color: var(--secondary-color);
	cursor: pointer;
	z-index: 5;
}

#toggle:checked ~ .header .toggle {
	mask-image: var(--icon-close);
	-webkit-mask-image: var(--icon-close);
}

#toggle:checked ~ .menu {
	width: inherit;
	z-index: 4;
	opacity: 1;
}

/*Switch Theme Button*/
.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 48px;
	height: 24px;
	background: var(--accent-color);
	display: block;
	border: 1px solid var(--secondary-color);
	border-radius: 20px;
	position: relative;
	margin-bottom: 1.5rem;
}

.switch:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	background: var(--secondary-color);
	border-radius: 18px;
	transition: 0.3s;
}

#switch:checked ~ .header .switch {
	background: #a3bd9f;
}

#switch:checked ~ .header .switch:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

.switch:active:after {
	width: 26px;
}

/*Switching MODE*/
#switch:checked ~ .main {
	--background-color: #191616;
}

/*Media Queries*/
/*Hover*/
@media (hover: hover) {
	.button--primary:hover {
		background: var(--secondary-color-2);
	}

	.glide__arrow:hover {
		color: var(--primary-color);
	}

	.button--form:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
	}

	.list-item__icon:hover {
		color: var(--secondary-color);
	}
	.font-alpha-sub:hover::after,
	.font-beta:hover::after {
		background: var(--secondary-color);
	}
	.footer__link:hover {
		color: var(--secondary-color);
	}
}

/*Responsive*/
@media screen and (min-width: 600px) {
	.header__buttons {
		flex-direction: row;
	}

	/*Chapter ABOUT ME*/
	.chapter__accordions {
		width: 70%;
		padding-left: 10%;
	}
}

@media screen and (min-width: 1024px) {
	.top-bar-nav {
		display: block;
	}

	.chapter__sub-header--projects,
	.chapter__sub-header--contact,
	.chapter__minor--projects,
	.chapter__minor--contact {
		align-self: center;
	}

	/*Chapter ABOUT ME*/
	.chapter__accordions {
		width: 60%;
		padding-left: 15%;
	}

	.chapter__form {
		width: 40%;
		align-self: center;
	}

	/*Social Media Bar*/
	.socialmedia-bar {
		margin: 2rem 1rem 4rem .5rem;
	}

	.socialmedia-bar__list {
		width: 100%;
	}

	.menu,
	.toggle,
	.header__buttons {
		display: none;
	}

	.header-cover__img {
		width: 60%;
		z-index: -1;
	}

	.header-title__text {
		font-size: var(--size-60);
		line-height: var(--line-spacing-80);
	}

	.divider--top {
		margin-block-start: 1.5rem;
		margin-block-end: -1rem;
	}
}
