@import url(root.css);
@import url(font.css);
@import url(./components/button.css);
@import url(./components/chapter.css);
@import url(./components/divider.css);
@import url(./components/decoration.css);
@import url(./components/footer.css);
@import url(./components/list.css);
@import url(./components/menu.css);
@import url(./components/header.css);
@import url(./components/topnav.css);
@import url(./components/slider.css);

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

::selection {
	color: var(--accent-color);
	background-color: var(--primary-color);
}

a {
	color: inherit;
}

/*Main Stylings*/
.wrapper {
	max-width: max-content;
	width: 100%;
	height: max-content;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	background-color: var(--background-color);
}

.icon {
	width: var(--size-60);
	height: var(--size-60);
}

/*MAIN*/
.main {
	grid-row: 3;
	grid-column: 1 / span 6;
	justify-items: stretch;
}

/*INPUT BUTTONS*/
input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}

/*Menu Toggle*/
.toggle {
	align-self: center;
	width: var(--size-60);
	height: var(--size-60);
	display: block;
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-position: center;
	-webkit-mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-image: var(--icon-burger);
	-webkit-mask-image: var(--icon-burger);
	background-color: var(--secondary-color);
	cursor: pointer;
	z-index: 5;
}

#toggle:checked ~ .header .toggle {
	mask-image: var(--icon-close);
	-webkit-mask-image: var(--icon-close);
}

#toggle:checked ~ .menu {
	width: inherit;
	z-index: 4;
	opacity: 1;
}

/*Switch Theme Button*/
.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 48px;
	height: 24px;
	background: var(--accent-color);
	display: block;
	border: 1px solid var(--secondary-color);
	border-radius: 20px;
	position: relative;
	margin-bottom: 1.5rem;
}

.switch:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	background: var(--secondary-color);
	border-radius: 18px;
	transition: 0.3s;
}

#switch:checked ~ .header .switch {
	background: #a3bd9f;
}

#switch:checked ~ .header .switch:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

.switch:active:after {
	width: 26px;
}

/*Switching MODE*/
#switch:checked ~ .main {
	--background-color: #191616;
}

/*Media Queries*/
/*Hover*/
@media (hover: hover) {
	.button--primary:hover {
		background: var(--secondary-color-2);
	}

	.glide__arrow:hover {
		color: var(--primary-color);
	}

	.button--form:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
	}

	.list-item__icon:hover {
		color: var(--secondary-color);
	}
	.font-alpha-sub:hover::after,
	.font-beta:hover::after {
		background: var(--secondary-color);
	}
	.footer__link:hover {
		color: var(--secondary-color);
	}
	.logo__img--top {
		cursor: pointer;
		cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='30' height='30' viewBox='0 0 24 24'%3E%3Cpath fill='%23D4AF37' d='M15.5,9.63C14.21,10.32 13.03,11.2 12,12.26C10.97,11.19 9.79,10.31 8.5,9.63C8.74,6.86 9.92,4.14 12.06,2C14.18,4.12 15.31,6.84 15.5,9.63M12,15.45C14.15,12.17 17.82,10 22,10C22,20 12.68,21.88 12,22C11.32,21.89 2,20 2,10C6.18,10 9.85,12.17 12,15.45M12.05,5.19C11.39,6.23 10.93,7.38 10.68,8.58L12,9.55L13.35,8.57C13.12,7.37 12.68,6.22 12.05,5.19M12,19.97C12,19.97 18,19 19.74,12.25C14,14 12,19.1 12,19.1C12,19.1 9,13 4.26,12.26C6,19 12,19.97 12,19.97Z' /%3E%3C/svg%3E")
				0 0,
			crosshair;
	}
}

/*Responsive*/
@media screen and (min-width: 1024px) {
	.toggle {
		display: none;
	}
	/* text animation */
	@keyframes animated-text {
		from {
			width: 0;
		}
		to {
			width: 350px;
		}
	}
	/* cursor animations */
	@keyframes animated-cursor {
		from {
			border-right-color: var(--secondary-color);
		}
		to {
			border-right-color: transparent;
		}
	}
}

/*Animation Logo*/
.d-fill {
	fill: #627b56;
}

.line-1 {
	fill: none;
	stroke: #e2c87f;
	stroke-width: 19.8425;
	stroke-miterlimit: 10;
}

.line-2 {
	fill: none;
	stroke: #e2c87f;
	stroke-width: 10.7279;
	stroke-miterlimit: 10;
}

.line-3 {
	fill: none;
	stroke: #e2c87f;
	stroke-width: 11.3386;
	stroke-miterlimit: 10;
}

.line-4 {
	fill: none;
	stroke: #e2c87f;
	stroke-width: 11.6657;
	stroke-miterlimit: 10;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#bloom:hover #D_part,
#bloom:hover #low-petal,
#bloom:hover #mid-petal,
#bloom:hover #big-petal {
	animation-name: fadein;
	animation-fill-mode: both;
}

#bloom:hover #D_part {
	animation-delay: 1.5s;
	animation-duration: 1s;
}

#bloom:hover #low-petal {
	animation-delay: 1s;
	animation-duration: 2s;
}

#bloom:hover #mid-petal {
	animation-delay: .5s;
	animation-duration: 3s;
}

#bloom:hover #big-petal {
	animation-duration: 4s;
}
